{% extends "network/layout.html" %}

{% block body %}

  <div class="container">
    {% if profiles_followed %}
    <p class="h3">You are following</p>
    [
    {% for profile in profiles_followed  %}
      <span class="font-weight-bold">{{ profile.user.username | capfirst }},</span>
    {% endfor %}
    ]
    <hr>
    {% endif %}
    {% for profile in profiles_followed  %}
      <p class="font-weight-bold">{{ profile.user.username | capfirst }}'s posts</p>
      <hr>
      <div class="ml-4">
        {% for post in profile.user.post_set.all  %}
          <a href="{% url 'profile' post.user.profile.id %}" class="my-1 font-weight-bold text-secondary">{{post.user | capfirst }}</a>
          <a class="d-block" href="#">Edit</a>
          <p class="my-0">{{ post.content|truncatechars:100 }} {% if post.content.count > 100 %}...{% endif %}</p>
          <p class="my-0 text-muted small">{{post.pub_date}}</p>
          {% if request.user in post.likes.all %}<h1>in</h1>{% else %}Not {% endif %}<i class="fa-solid fa-heart" style="color: #ff0000;"></i>
          <span>{{ post.likes.count }}</span>
          <p class="my-0">Comment</p>
          <hr>
        {% endfor %}
      </div>
    {% empty %}
      <p class="h3">You are not following any profile</p>
    {% endfor %}
  </div>
  
    
  {% endblock %}