{% extends "network/layout.html" %}

{% block body %}
  <div class="container">
      <h1 class="h3">All Posts</h1>
      {% for user in following  %}
          {% for post in user.posts.all %}
              <a href="{% url 'profile' post.author.id %}" class="d-block h5 text-secondary">{{ post.author.user.username }}</a>
              <a id="edit" class="d-block" href="{% url 'edit' post.id %}">Edit</a>
              <p class="my-0">{{ post.content }}</p>
              <p class="my-0 small text-muted">{{ post.created }}</p>
              {% if request.user.profile in post.likes.all %}
                  <i value="{{ post.id }}" id="heart" class="fa-solid fa-heart" style="color:#ff0000"></i>
              {% else %}
                  <i value="{{ post.id }}" id="heart" class="fa-regular fa-heart" style="color:#ff0000"></i>
              {% endif %}
              <span id="count">{{post.likes.count}}</span>
              <hr class="mb-1">
          {% endfor %}

      {% endfor %}
  </div>
{% endblock %}
