{% extends "network/layout.html" %}
{% load static %}

{% load crispy_forms_tags %}


{% block body %}
    <div class="container">
        {% if request.user.is_authenticated %}
            <h1 class="fw_400">All Posts</h1>
            <p class="h3 fw_400">New Post</p>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Post</button>
            </form>
            <hr>
            {% for post in page_obj  %}
                <a href="{% url 'profile' post.user.profile.id %}" class="my-1 font-weight-bold text-secondary">{{post.user | capfirst }}</a>
                {% if post.user == request.user %}<a class="d-block" href="{% url 'edit' post.id %}">Edit</a>{% endif %}
                <p class="my-0">{{ post.content|truncatechars:100 }} {% if post.content.count > 100 %}...{% endif %}</p>
                <p class="my-0 text-muted small">{{post.pub_date}}</p>
                {% if request.user in post.likes.all %}
                    <i value="{{ post.id }}" id="heart" class="fa-solid fa-heart" style="color:#ff0000"></i>
                {% else %}
                    <i value="{{ post.id }}" id="heart" class="fa-regular fa-heart" style="color:#ff0000"></i>
                {% endif %}
            <span id="count">{{post.likes.count}}</span>
                <p class="my-0">Comment</p>
                <hr>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                    </span>
            </div>

        {% else %}
        <div class="card bg-light h3 my-4 p-4 text-center">
            <p>Please <a href="{% url 'login' %}"><i class="fa-solid fa-circle-down fa-rotate-270"></i> login</a> or <a href="{% url 'register' %}">register</a> to make and edit posts</p>
            <p class="h5 text-muted">Enjoy these and many more posts</p>
        </div>
        <hr>
        <h1>Posts Preview</h1>
        {% for post in preview_list %}
                <a href="{% url 'profile' post.user.profile.id %}" class="my-1 font-weight-bold text-secondary">{{post.user | capfirst }}</a>
                <a class="d-block"><s>Edit</s></a>
                <p class="my-0">{{ post.content|truncatechars:100 }} {% if post.content.count > 100 %}...{% endif %}</p>
                <p class="my-0 text-muted small">{{post.pub_date}}</p>
                <p class="my-0">Comment</p>
                <hr>
            {% endfor %}

        {% endif %}
    </div>
    <script>
        const edit = document.querySelectorAll("#edit")
        const likeBtn = document.querySelectorAll("#heart")
        const count = document.querySelectorAll("#count")

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');


        for (let i = 0; i < likeBtn.length; i++){
            likeBtn[i].addEventListener('click', (e)=> {
                e.preventDefault();
                const post_id = likeBtn[i].getAttribute("value")
                let data = { id: post_id}
                fetch("/like", {
                    method: "POST", 
                    body: JSON.stringify(data), 
                    headers: {
                        "Content-Type": "application/json",
                        'X-CSRFToken': csrftoken
                    }
                })
                .then(res => res.json())
                .then(data => {
                    if(data.liked === "Yes"){
                        likeBtn[i].classList.remove("fa-regular")
                        likeBtn[i].classList.add("fa-solid")
                        count[i].innerText = data.count
                    }else if(data.liked === "No"){
                        likeBtn[i].classList.remove("fa-solid")
                        likeBtn[i].classList.add("fa-regular")
                        count[i].innerText = data.count

                    }else{
                        alert("Please login to like post")
                    }
                })
            })

                  }

    </script>
    
{% endblock %}

